body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';

}
html {
    height: 100vh;
    padding: 0;
}
body {
    min-height: 100vh;
    padding: 0;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.label-img{
    cursor: pointer;
}

.floating-div{
    background-color: rgba(0,0,0,0.28);; 
    width: 100%; 
    height:100%; 
    position:fixed; 
    z-index: 1000; 
}

.card-pesan{
    background-color: white; 
    border-radius: 10px;
    padding: 15px 40px;
    opacity: 100; 
    width:40%; 
}